apiVersion: v1
kind: Secret
metadata:
  name: wallet-demo-realm
  labels:
    app: wallet-demo
type: Opaque
stringData:
{{- $baseUrl := "" }}
{{- if .Values.wallet.publicBaseUrl }}
{{-   $baseUrl = .Values.wallet.publicBaseUrl | trimSuffix "/" }}
{{- end }}
{{- $realmJson := required "keycloak.realmJson is required" .Values.keycloak.realmJson }}
{{- if $baseUrl }}
{{-   $realmJson = replace "http://localhost:3000/oid4vp/auth" (printf "%s/oid4vp/auth" $baseUrl) $realmJson }}
{{-   $realmJson = replace "http://localhost:3000/wallet" $baseUrl $realmJson }}
{{- end }}
  realm-export.json: |
{{ $realmJson | indent 4 }}
  {{- if .Values.keycloak.realmPidBindingJson }}
{{- $pidJson := .Values.keycloak.realmPidBindingJson }}
{{- if $baseUrl }}
{{-   $pidJson = replace "http://localhost:3000/oid4vp/auth" (printf "%s/oid4vp/auth" $baseUrl) $pidJson }}
{{-   $pidJson = replace "http://localhost:3000/wallet" $baseUrl $pidJson }}
{{- end }}
  realm-pid-binding-export.json: |
{{ $pidJson | indent 4 }}
  {{- end }}
