apiVersion: v1
kind: Secret
metadata:
  name: wallet-demo-realm
  labels:
    app: wallet-demo
type: Opaque
stringData:
  realm-export.json: |
{{ required "keycloak.realmJson is required" .Values.keycloak.realmJson | indent 4 }}
