apiVersion: v1
kind: Service
metadata:
  name: wallet-demo-wallet
  labels:
    app: wallet-demo
    app.kubernetes.io/component: wallet
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 80
      targetPort: 3000
  selector:
    app: wallet-demo
    app.kubernetes.io/component: wallet
