name: CI
on: [ push, pull_request, workflow_dispatch ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'

      - name: Build and test
        run: mvn --batch-mode verify

  build-and-push-image:
    # Only build and push images from the ba-itsys organization on the main branch
    if: github.repository_owner == 'ba-itsys' && github.ref_name == 'main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '21'
          cache: 'maven'

      - name: 'Login to GitHub Container Registry'
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: 'Build and push image'
        run: >
          mvn
          --batch-mode
          -DskipTests
          -Dspring-boot.build-image.imageName=ghcr.io/${{ github.repository }}:\${project.version}
          -Dspring-boot.build-image.publish=true
          spring-boot:build-image
